<link rel="stylesheet" type="text/css" href="/style.css" />
<a href="/">Dashboard</a>
<form action="/tasks" method="post">
  <p>Enter a new task:</p>
  <input type="text" name="task[title]" /><br/>
  <br>
  <textarea name="task[description]"></textarea><br/>
  <br>
  <input id="button" type="submit"/>
</form>
