<link rel="stylesheet" type="text/css" href="/style.css" />
<a href="/tasks">Task Index</a>
<h1><%= @task.title %></h1>
<p><%= @task.description %></p>
<img src=https://imgnooz.com/sites/default/files/wallpaper/animals/56018/papillon-puppy-wallpapers-56018-4960925.jpg>
